{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Трекер воды</title>
    <link href="{% static 'water_tracker/css/style_water_tracker.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
</head>
<body style="background-image:url('{% static 'water_tracker/img/water_pattern.jpg' %}'); background-size: auto;">

<header>
        <div class = container>
            <div class="head">
                <a href="{% url 'home' %}"><img src="{% static 'main/img/iconLogo.png' %}" alt="" class="logo"></a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="text">
                            <a href="{% url 'home' %}">Главная</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'articles' %}">Статьи</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'calculator' %}">Калькулятор</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'product_selection' %}">Еда</a>
                        </li>

                        {% if request.user.is_authenticated %}
                            <li class="text">
                                <a href="{% url 'personalArea' %}" style="font-weight: bold">{{ user.username }} | Личный кабинет</a>
                            </li>
                        {% else %}
                            <li class="text">
                                <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'registration_field' %}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
</header>


<div id="wrapper">

    <div class="leftSide">
                <div onclick="location.href='{% url 'add_water' %}'" class="water"><a href="{% url 'add_water' %}" class="water_but">Трекер воды</a></div>
                <div onclick="location.href='{% url 'search' %}'" class="food"><a href="{% url 'search' %}" class="food_but">Дневник питания</a></div>
                <div onclick="location.href='{% url 'add_weight' %}'" class="weightControl"><a href="{% url 'add_weight' %}" class="weight_but">Контроль веса</a></div>
                <div onclick="location.href='{% url 'add_sport' %}'" class="sport"><a href="{% url 'add_sport' %}" class="sport_but">Дневник тренировок</a></div>
        </div>

    <div class="rightSide">
            <div class="selectOption">
                    <ul>
                        <li><a href="{% url 'add_water' %}" >Добавление воды</a></li>
                        <li><a href="{% url 'water_tracker' %}" style="font-weight: bold" class="tracker">Трекер воды</a></li>
                    </ul>
                </div>


        <div class="rectangle">
            <h3 style="text-align: center;">Количество выпитых стаканов за неделю</h3>
            {% load googlecharts %}
            <div id="count_graph" style="margin-left: -25px; margin-top: -30px;"></div>
            {% googlecharts %}
                {% data values "count" %}
                    {% col "string" "current_date" %}"{{ val }}"{% endcol %}
                    {% col "number" "Стаканы" %}{{ val }}{% endcol %}
                {% enddata %}

                {% options %}
                    kind: "ColumnChart",
                    options: {
                        backgroundColor: "transparent",
                        width: 740,
                        height: 300,
                        min: 0,
                        max: 15,
                        'legend': { position: 'bottom', textStyle: {color: 'black', bold: 'True', fontSize : 16}},
                        'bar' : { groupWidth: '80%' },
                        chartArea:{backgroundColor: "white"},
                        vAxis: { ticks: [0,5,10,15], textStyle: {color: 'black', fontSize: 14}},
                        hAxis: { textStyle: {color: 'black', bold: 'True', fontSize: 13}}
                    }

                {% endoptions %}
                {% graph "count_graph" "count" %}


            {% endgooglecharts %}




            <p class="advice">Рекомендуемая норма потребления воды - 2 литра (8 стаканов) в сутки</p>
        </div>
    </div>
</div>

</body>
</html>