@font-face {
    font-family: "Raleway";
    src: local('Raleway-Regular'), url("../fonts/Raleway-Regular.ttf") format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.head {
    margin: 0 auto;
    width: 1200px;
}

header {
    background-color: #CCE0FB;
    width: 100%;
    height: 60px;
}


div {
    box-sizing: border-box;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.logo{
    margin-top: 5px;
    width: 40px;
    height: 50px;
    float: left;
}


.navigation {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    font-weight: bold;
}

.text {
    margin-top: 20px;
    float: left;
    display: block;
    margin-left: 60px;
}

.leftSide{
    float: left;
}

.leftSide div{
    list-style-type: none;
    margin-bottom: 50px;
    display: block;
    width: 250px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.leftSide div a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-right: 0;
    padding-left: 20px;
    font-size: 20px;
}

.water{
    background-color: #80B9ED;

}

.food{
    background-color: #F3E38D;
}

.weightControl{
    background-color: #98EB88;
    font-weight: bold;
}

.sport{
    background-color: #EB7272;
}

.water:hover{
    box-shadow: 0px 0px 25px 3px #80B9ED;
}

.food:hover{
    box-shadow: 0px 0px 25px 3px #F3E38D;
}

.weightControl:hover{
    box-shadow: 0px 0px 25px 3px #98EB88;
}

.sport:hover{
    box-shadow: 0px 0px 25px 3px #EB7272;
}

.rightSide{
    float: right;
    margin-top: 0;
}

.selectOption{
    column-count: 2;
    width: 670px;
    column-width: 500px;
    margin-bottom: 20px;
}

.selectOption ul{
    padding: 0;
    margin: 0;
}

.selectOption ul li{
    list-style-type: none;
}

.selectOption ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 10px 25px 10px 25px;
    border: 3px solid #98EB88;
    float: left;
    text-align: center;
}

.selectOption ul li a:hover{
    box-shadow: 0px 0px 4px 2px #98EB88;
}

.tracker{
    margin-left: 40px;
}

.rectangle{
    width: 800px;
    border: 3px solid #98EB88;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.currentWeight{
    font-size: 40px;
    margin-left: 15px;
    margin-bottom: 0;
}

.userCurrentWeight{
    font-size: 40px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.updateWeight{
    margin-left: 15px;
    padding-top: 50px;
    margin-top: 0;
    font-size: 25px;
}


input {
    width: 140px;
    background-color: #faf0de;
    border: 3px solid #98EB88;
    border-radius: 14px;
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
    margin-bottom: 20px;
}

.save_weight {
    width: 140px;
    background-color: #98EB88;
    border: 3px solid #98EB88;
    border-radius: 14px;
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
    cursor: pointer;
}
