@font-face {
    font-family: "Raleway";
    src: local('Raleway-Regular'), url("../fonts/Raleway-Regular.ttf") format('truetype');
}


body {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

header {
    background-color: #CCE0FB;
    width: 100%;
    height: 60px;
}

div {
    box-sizing: border-box;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A09E9E;
    margin-top: 30px;
}

.head {
    margin: 0 auto;
    width: 1200px;
}

.logo{
    margin-top: 5px;
    width: 40px;
    height: 50px;
    float: left;
}


.navigation {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    font-weight: bold;
}

.text {
    margin-top: 20px;
    float: left;
    display: block;
    margin-left: 60px;
}

.leftSide{
    float: left;
}


.leftSide div{
    list-style-type: none;
    margin-bottom: 50px;
    display: block;
    width: 250px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.leftSide div a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-right: 0;
    padding-left: 20px;
    font-size: 20px;
}

.water{
    background-color: #80B9ED;

}

.food{
    background-color: #F3E38D;
}

.weightControl{
    background-color: #98EB88;
}

.sport{
    background-color: #EB7272;
}

.water:hover{
    box-shadow: 0px 0px 25px 3px #80B9ED;
}

.food:hover{
    box-shadow: 0px 0px 25px 3px #F3E38D;
}

.weightControl:hover{
    box-shadow: 0px 0px 25px 3px #98EB88;
}

.sport:hover{
    box-shadow: 0px 0px 25px 3px #EB7272;
}

.rightSide{
    float: right;
    background-color: #FFFFFF;
    width: 900px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 3px #80B9ED;
}

.userInformation{
    padding: 25px;
}

.userInformation ul li{
    list-style-type: none;
}

.userPhoto{
    height: 100px;
    border-radius: 10px;
}

.inf{
    display: flex;
    justify-content: space-between;
}

.growth{
    font-size: 20px;
}

.userGrowth{
    font-size: 20px;
}

.weight{
    font-size: 20px;
}

.userWeight{
    font-size: 20px;
}

.activity{
    font-size: 20px;
}

.userActivity{
    font-size: 20px;
}

.call{
    font-size: 20px;
}

.userCall{
    font-size: 20px;
}

.settingsDiv{
    margin-top: 30px;
}

.settings{
    color: black;
}

.logout{
    color: black;
}