{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link href="{% static 'registration/css/style_login.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
</head>
<body style="background-image:url('{% static 'registration/img/patternSportPeople.jpg' %}'); background-size: cover;">

<header>
        <div class = container>
            <div class="head">
                <a href="{% url 'home' %}"><img src="{% static 'registration/img/iconLogo.png' %}" alt="" class="logo"></a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="text">
                            <a href="{% url 'home' %}">Главная</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'articles' %}">Статьи</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'calculator' %}">Калькулятор</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'product_selection' %}">Еда</a>
                        </li>

                        {% if request.user.is_authenticated %}
                            <li class="text">
                                <a href="{% url 'personalArea' %}">{{ user.username }} | Личный кабинет</a>
                            </li>
                        {% else %}
                            <li class="text">
                                <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'registration_field' %}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
</header>

<div id="wrapper">
<section>
    <div class="reg_field">
        <div class="rectangle" style="width: 630px;">
            <h2 style="text-align: center;">Сброс пароля</h2>
            <form method="post">
                {% csrf_token %}
                <h6 class="frstField">Забыли пароль? Введите адрес электронной почты для получения письма с инструкциями
                    по восстановлению пароля:</h6>
                {{ form.email }}
                {{ form.email.errors }}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <button type="submit" style="margin-bottom: 20px; margin-top: 25px;">Сбросить пароль</button>
            </form>
        </div>
    </div>
</section>
</div>
</body>
</html>





