{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Письмо с инструкциями по восстановлению пароля отправлено</title>
    <link href="{% static 'registration/css/style_login.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
</head>
<body style="background-image:url('{% static 'registration/img/patternSportPeople.jpg' %}'); background-size: cover;">

<header>
        <div class = container>
            <div class="head">
                <a href="{% url 'home' %}"><img src="{% static 'registration/img/iconLogo.png' %}" alt="" class="logo"></a>
                <nav class="navigation">
                    <ul class="menu">
                        <li class="text">
                            <a href="{% url 'home' %}">Главная</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'articles' %}">Статьи</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'calculator' %}">Калькулятор</a>
                        </li>

                        <li class="text">
                            <a href="{% url 'product_selection' %}">Еда</a>
                        </li>

                        {% if request.user.is_authenticated %}
                            <li class="text">
                                <a href="{% url 'personalArea' %}">{{ user.username }} | Личный кабинет</a>
                            </li>
                        {% else %}
                            <li class="text">
                                <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'registration_field' %}">Регистрация</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
</header>

<div id="wrapper">
<section>
    <div class="reg_field">
        <div class="rectangle" style="width:800px;">
            <h2 style="text-align: center;">Письмо с инструкциями по восстановлению пароля отправлено</h2>
            <p style="text-align: center; margin-top: 25px; font-size: 20px;">Мы отправили вам инструкцию по установке нового пароля на указанный адрес
              электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
            <p style="text-align: center; margin-top: 25px; font-size: 20px;">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с
              которым Вы зарегистрировались, и проверьте папку со спамом.</p>

        </div>
    </div>
</section>
</div>
</body>
</html>





