@font-face {
    font-family: "Raleway";
    src: local('Raleway-Regular'), url("../fonts/Raleway-Regular.ttf") format('truetype');
}

body {
    padding: 0;
    margin: 0;
    font-family: "Raleway";
    overflow-x: hidden;
}

header {
    background-color: #CCE0FB;
    width: 100%;
    height: 60px;
}

.head {
    margin: 0 auto;
    width: 1200px;
}

.logo{
    margin-top: 5px;
    width: 40px;
    height: 50px;
    float: left;
}


.navigation {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    font-weight: bold;
}

.text {
    margin-top: 20px;
    float: left;
    display: block;
    margin-left: 60px;
}

#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


.selectButtons{
    width: 800px;
    height: 20px;
}

.selectButtons ul{
    padding: 0;
    margin: 0;
}

.selectButtons ul li{
    list-style-type: none;
}

.foodDiary{
    margin-left: 35px;
}

.foodDiary:hover{
    box-shadow: 0px 0px 20px 4px #F3E38D;
}

.select:hover{
    box-shadow: 0px 0px 20px 4px #F3E38D;
}

.selectOption div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    float: left;
    text-align: center;
    border: 3px solid #F3E38D;
}


.rectangle{
    width: 800px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 50px;
    border: 3px solid #F3E38D;
}

.typeOfProducts{
    padding-top: 30px;
    padding-bottom: 20px;
}

.searchProducts{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    width: 500px;
    margin-left: 40px;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    border: none;
}

.lupa{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    float: left;
}


.product{
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 10px 8px 10px 8px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    list-style-type: none;
    height: 20px;
}

table, th, td {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

th, td {
    padding: 5px;
}

th {
    cursor: pointer;
}


th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after,
th.sorted[data-order="-1"]::after {
    right: 8px;
}

th.sorted[data-order="-1"]::after {
	content: "▼"
}

th.sorted[data-order="1"]::after {
	content: "▲"
}


.search_button {
    text-decoration: none;
    background-color: #98EB88;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    width: 145px;
    height: 45px;
    cursor: pointer;
    margin-left: 30px;
    border: 0;
    box-shadow: 0px 0px 10px 1px #98EB88;
}

.product input{
    text-align: center;
    width: 50px;
    height: 25px;
    background-color: #98EB88;
    border-radius: 10px;
    border: none;
}


.add_button {
    text-decoration: none;
    background-color: #98EB88;
    border-radius: 10px;
    font-size: 17px;
    color: black;
    width: 85px;
    height: 25px;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 0px 10px 1px #98EB88;
}

.leftSide{
    float: left;
}

.leftSide div{
    list-style-type: none;
    margin-bottom: 50px;
    display: block;
    width: 250px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.leftSide div a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-right: 0;
    padding-left: 20px;
    font-size: 20px;
}

.water{
    background-color: #80B9ED;
}

.food{
    background-color: #F3E38D;
    font-weight: bold;
}

.weightControl{
    background-color: #98EB88;
}

.sport{
    background-color: #EB7272;
}

.water:hover{
    box-shadow: 0px 0px 25px 3px #80B9ED;
}

.food:hover{
    box-shadow: 0px 0px 25px 3px #F3E38D;
}

.weightControl:hover{
    box-shadow: 0px 0px 25px 3px #98EB88;
}

.sport:hover{
    box-shadow: 0px 0px 25px 3px #EB7272;
}

.rightSide{
    float: right;
    margin-top: 0;
}
